.header {
    background: #40E0D0;
    padding: 18px;
}

.header ul {
    align-items: center;
    display: flex;
}

.header ul li {
    float: left;
    align-content: center;
    flex: 1;
}

.header ul li:hover p {
    color: red;
}

.header ul li.active {}

.header ul li.active a {
    color: #000
}

.header ul li a {
    color: #fff;
    font-size: 15px;
}

.container {
    min-height: 820px;
    margin-top: 50px;
}

.footer {
    background: #40E0D0;
    padding: 18px;
    color: #fff;
}